.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.issue-box {
  border: 0 1px 1px 1px solid gray;
  border-radius: 25px;
}

#issue-header {
  background: lightgray;
}

#open {
  background: green;
}

a {
  text-decoration: none;
}

nav {
  background: black;
  width: 100%;
  height: 2em;
  font-style: bold;
}

nav a {
  color: white;
  padding: 10px;
}